{% extends "global/base_pre_login.html" %}
{% comment %}
    Password change done page.
    Modified from Django default template for authentication view.
{% endcomment %}

{% block page_description %}Password change done page{% endblock %}
{% block page_title %}Password Change Completed | M.I.T Authentication{% endblock %}

{% load static %}
{% block page_style %}
    <link rel="stylesheet" href="{% static "css/pw_mgmt.min.css" %}">
{% endblock %}

{% block content %}
    <p>Your password was changed.</p>
{% endblock %}
