<div class='card'>
    <div class='card-body'>
        <div class='row no-gutters align-items-start'>

            <div class='col'>
                <div class='row no-gutters'>
                    <a href='#' class='col-auto' style="text-decoration: none">
                        MSFT
                    </a>
                </div>
                <div class='row no-gutters'>
                    <div class="line-chart">
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>